<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Presentation Picker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'List of topics'" />
<table>
<tr th:each="pres : ${presentations}">
    <td th:text="${pres.topic}">Topic should go here</td>
    <!-- <td th:text="${pres.projectGroup}? ${pres.projectGroup.name}: 'unavailable'" ></td> -->
    <td th:text="${pres.projectGroup.name}" th:if="${pres.projectGroup}"></td>
    <td th:unless="${pres.projectGroup}">
        <form action="#" th:action="@{assign}" method="get">
            <input type="hidden" th:name="presId" th:value="${pres.id}" />
            <select th:name="grId">
                <option th:each="gr : ${groups}"
                        th:value="${gr.id}"
                        th:text="${gr.name}">group name</option>
            </select>
            <input type="text" th:name="studentId" th:value="*{studentId}" />
            <input type="submit" value="Book It!"/>
        </form>
    </td>
</tr>
</table>
</body>
</html>