<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Presentation Picker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
Please choose the topic you'd like to present:
<ul>
    <li>select your group from the dropdown menu</li>
    <li>enter the student number (last 6 digits only) of one of the group members (this is sanity check to make sure you don't pick the wrong group by mistake) </li>li>
    <li>hit the "book it" button</li>
</ul>
Note that you can only book one presentation, after which your group will no longer appear in the drop down menu. Once a presentation has been booked, it is no longer available to other groups (the "book it" button will no longer be available).
Finally, a word of caution: this is very much an alpha release, and things can go horribly wrong if you truly intended to. Be nice!
<p th:text="'List of topics'" />
<table>
<tr th:each="pres : ${presentations}">
    <td th:text="${pres.topic}">Topic should go here</td>
    <!-- <td th:text="${pres.projectGroup}? ${pres.projectGroup.name}: 'unavailable'" ></td> -->
    <td th:text="${pres.projectGroup.name}" th:if="${pres.projectGroup}"></td>
    <td th:unless="${pres.projectGroup}">
        <form action="#" th:action="@{assign}" method="get">
            <input type="hidden" th:name="presId" th:value="${pres.id}" />
            <select th:name="grId">
                <option th:each="gr : ${groups}"
                        th:value="${gr.id}"
                        th:text="${gr.name}">group name</option>
            </select>
            <input type="text" th:name="studentId" th:value="*{studentId}" />
            <input type="submit" value="Book It!"/>
        </form>
    </td>
</tr>
</table>
</body>
</html>